/*-------------------------------------BASIC SET UP------------------------------------*/
html,
body {
/*    background-color: rgb(121, 121, 121);*/
    background-color: #9b9b9b;
/*    color: rgb(239, 239, 239);*/
    color: #ffffff;
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}

h1 {
    font-size: 200%;
    color: #ffffff;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
    padding: 0 0 3% 0;
}

.btn{
    font-family: 'Lato', 'Arial', sans-serif;
    border: 1px solid #838383;
    background-color:#c4c4c4;
}

/*---------------ANIMATIONS-----------------*/
.js--wp-1 {
    opacity: 0;
    animation-duration: 2s;
}

.js--wp-1.animated {
    opacity: 1;
}

/*-----------------------------NAVIGATION BAR------------------------------------*/

.navbar {
    background: transparent;
    border: none;
    font-family: 'Lato';
}

/*-----Nav Bar Logo----*/
.navbar-header img {
/*    width: 120px;*/
/*    height: 130px;*/
    height: 700%;
    padding: 0;
    margin: 0;
    border-radius: 50%;
}

/*----Nav Bar Titles----*/
.navbar li a {
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    padding-top: 20px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover  {
    color: #fff;
}

.navbar li a:hover, .navbar li a:active  {
    border-bottom: 2px solid #d9d2d2;
    border-bottom 0.2s;
}

/*----Nav Bar Collapsed---*/
.navbar-collapse{
    border: none;
    box-shadow: none;
/*    float: left !important;*/
}



/*-------------------------------------SPLASH PAGE------------------------------------*/

.splash-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/bolt4.jpg);
    background-size: cover;
    height: 100%;
    background-attachment: fixed;
    padding: 0 4% 30% 0;
}

.splash-page h1{
    text-align: right;
    font-size: 400%;
    font-weight: 400;
    padding: 17% 0 0 0;
}



/*-------------------------------------ABOUT PAGE------------------------------------*/

.about-page {
    padding: 2% 0 4% 0;
}


.about-page-content img {
    width: 80%;
    height: auto;
    border-radius: 50%;
    padding-left: 10px;
    margin-top: 2%;


}

.about-page-content p {
    text-align: center;
    margin: 3% 0 0 0;
}



/* -- used to center image inside of col-lg-6 etc, already in bootstrap copied as an FYI---
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
*/

/*----------------------------------PRODUCT PAGE------------------------------------*/


.product-page {
    padding: 2% 0 0 0;
    background-color: #acacac;

}


.product-page p {
    text-align: center;
    padding-left: 2%;

}

.product-page ul {
    padding-bottom: 2%;
}

 .product-page li {
    text-align: center;
    list-style-type: none;
}


.product-page img {
    width: 100%;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    transition: transform 0.5s, opacity 0.5s;
}


.product-page a{
    padding: 0 !important;
}


.product-page img:hover {
    opacity: 1;
    transform: scale(1.03);
    /*z-index: 1; position:relative; on zoom layers image on top of others*/
    z-index: 1; position:relative;
}


/*---------------POP UP IMAGE GALLERY-----------------*/
.ekko-lightbox-nav-overlay a{
    font-size: 100px;

}

.modal-body {
    padding: 0;
}


/*---------------------------------EQUIPMENT PAGE-----------------------------*/
.equipment-page{
    padding: 2% 0 0 0;

}

.equipment-content {
    padding: 2% 0 2% 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/machine.jpg);
    background-size: cover;
    background-position: left;
    background-attachment: fixed;
}

.equipment-page img {
    width: 100%;
    padding: 0;
    margin: 0;

}

.equipment-content li{
    text-align: center;
    list-style-type: none;
}

.equipment-content p {
    text-align: center;
    padding: 1% 25% 0 25%;

}




/*------------------------------MAP PAGE----------------------------------*/


.findus-page{
    padding: 2% 0 0 0;
    background-color: #acacac;
}


/*.map {} styles the Google Map on our page*/
.map {
/*    width: 100%;*/
    height: 650px;
    padding: 20px 0 0 0;
}

/*Text colour inside of markers*/
.map p{
    color: #000000;
}


/*------------------------------FOOTER---------------------------------*/

footer {
    padding: 2% 0 1% 0;
    margin: 0;
    font-size: 80%;
}

footer p {
    text-align: center;
    padding: 0;
    margin: 0;
}


.footer-nav-left li a {
    transition: color 0.2s;
    color: #ffffff;
}


.footer-nav-left li a:hover{
    color: #f5f5f5;
}


.footer-nav-right {
    float: right;
}



.footer-nav-left li, .footer-nav-right li {
    display: inline-block;
    margin-right: 20px;
}

.footer-nav-right li i {
    font-size: 130%;
}




