/*-------------------------------------BASIC SET UP------------------------------------*/
html,
body {
    background-color: rgb(121, 121, 121);
    color: rgb(239, 239, 239);
    font-family: 'Lato', 'Arial', sans-serif;
    font-weight: 300;
    font-size: 20px;
    overflow-x: hidden;
}

h1 {
    font-size: 200%;
    color: #d9d2d2;
    font-weight: 300;
    word-spacing: 4px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.btn{
    font-family: 'Lato', 'Arial', sans-serif;
    border: 1px solid #838383;
    background-color:#c4c4c4;
}

/*-----------------------------NAVIGATION BAR------------------------------------*/

.navbar {
    background: transparent;
    border: none;
    font-family: 'Lato';
}

/*-----Nav Bar Logo----*/
.navbar-header img {
    width: 120px;
    height: 130px;
/*    border-radius: 50%;*/
    padding: 0;
    margin: 0;
}

/*----Nav Bar Titles----*/
.navbar li a {
    text-transform: uppercase;
    text-align: right;
    color: #fff;
    padding-top: 20px;
}

.navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover  {
    color: #fff;
}

.navbar li a:hover, .navbar li a:active  {
    border-bottom: 2px solid #d9d2d2;
    border-bottom 0.2s;
}

/*----Nav Bar Collapsed---*/
.navbar-collapse{
    border: none;
    box-shadow: none;
/*    float: left !important;*/
}



/*-------------------------------------SPLASH PAGE------------------------------------*/

.splash-page {
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../img/splash_background.jpg);
    background-size: cover;
    background-position: left;
    height: 100vh;
    background-attachment: fixed;
}

.splash-page-content {
    margin: 28% 0 0 0;
}


.splash-page-content h1{
    text-align: center;
    font-size: 400%;
    font-weight: 400;
}



/*-------------------------------------ABOUT PAGE------------------------------------*/

.about-page {
    margin: 2% 0 0 0;
}

.about-page-icons i{
    padding:0;
    font-size: 400%;
    margin: 10% 0 0 50%;
}


/*---------------SOCAIL MEDIA ICONS ANIMATION-----------------*/
.js--wp-1 {
    opacity: 0;
    animation-duration: 2s;
}

.js--wp-1.animated {
    opacity: 1;
}

.about-page-content {
    margin: 7% 0 0 0;
}

.about-page-content img {
    width: 70%;
    height: auto;
/*    border-radius: 50%;*/

}

.about-page-content p {
    font-size: 18px;
    text-align: center;
    margin-bottom: 5%;
}

.about-page-flags {
    padding: 0;
    margin: 0;
    margin: 2% 0 0 0;
}

.about-page-flags img {
    width: 90%;
    height: auto;
    padding: 0;
    margin: 3% 0 0 0;
}
/* -- used to center image inside of col-lg-6 etc, already in bootstrap copied as an FYI---
.center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }
*/

/*-------------------------------------GALLERY PAGE------------------------------------*/


.gallery-page {
    margin: 7% 0 0 0;
}

.gallery-page h1{
    text-align: center;
    padding: 0 0 1% 0;

}

.gallery-page img {
    width: 100%;
    height: 300px;
    margin: 0;
    padding: 0;
    opacity: 0.8;
    transition: transform 0.5s, opacity 0.5s;
}


.gallery-page a{
    padding: 0 !important;
}


.gallery-page img:hover {
    opacity: 1;
    transform: scale(1.03);
    /*z-index: 1; position:relative; on zoom layers image on top of others*/
    z-index: 1; position:relative;
}


/*---------------POP UP IMAGE GALLERY-----------------*/
.ekko-lightbox-nav-overlay a{
    font-size: 100px;

}

.modal-body {
    padding: 0;
}


/*---------------------------------EQUIPMENT PAGE-----------------------------*/
.equipment-page{
    padding: 1% 0 0 0;}

.equipment-page h1{
    margin-bottom: 4%;
    text-align: center;
}

.equipment-page {
    margin: 7% 0 0 0;
}

.equipment-page img {
    width: 100%;
    height: 100%;

}

.equipment-content ul{
    text-align: center;
    font-weight: 100;
}

.equipment-content p {
    text-align: center;
}




/*------------------------------MAP PAGE----------------------------------*/

/*.map {} styles the Google Map on our page*/
.map {
/*    width: 100%;*/
    height: 650px;
    padding: 20px 0 0 0;
}

.map-page h1{
    text-align: center;
    padding: 1% 0 1% 0;
}
.map p{
    color: #000000;
}


/*----------------------------------CONTACT PAGE------------------------------------*/
.contact-page{
    margin: 3% 0 3% 0;
}


.contact-form {
    width: 80%;
    margin: auto;
}

.contact-form h1{
    text-align: center;
    font-weight: 300;
}

input[type=text],
input[type=email],
select,
textarea {
    width: 100%;
    padding: 7px;
    margin: 5px 0 0 0;
    border-radius: 3px;
    border: 1px solid #ccc;
    background-color:#dbdbdb;
}

textarea {
    height: 200px;
}



/*----------------------------------FOOTER------------------------------------*/
.footer{
    text-align: center;
    background-color: rgb(77, 77, 77);
    padding: 1% 0 0 0;
}

.footer h2{
	font-size: 150%;
}

.footer h2 i{
    padding: 0 10px 0 0px;
}

.footer p{
	padding: 0;
    margin: 0;
}
